#heroe-table-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  min-width: 790px;

  #heroe-table-row {
    background: #ffffff66;
    padding: 15px;
    border-radius: 15px;

    .name-wrapper {
      position: relative;
      display: flex;
      padding: 5px;
      justify-content: center;
      align-items: center;

      .name {
        font-size: 20pt;
        font-weight: bold;
        font-family: "Vinque-Regular";
        text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;

        &[data-color="FFFFFF"],
        &[data-color="ffffff"] {
          text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
        }
      }
    }

    // .heroe-table-cards {
    //     display: grid;
    //     grid-template-columns: auto auto auto auto auto auto auto auto auto;
    //     gap: 20px;
    //     align-items: center;
    //     // width: 445px;
    // }

    .heroe-table-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    &.hidden {
      display: none;
    }
  }
}

.heroes-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  width: 100%;
  justify-items: center;

  padding-inline: 20px; /* 👈 margen horizontal */
  box-sizing: border-box;
}

.hero-actions {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-action {
  width: 26%;
  height: 13%;
  /* background-color: #d8d6d6; */
  /* border: 1px solid black; */
  border-radius: 90px;
  /* opacity: 0.4; */
  position: absolute;
  /* left: 40%; */
  pointer-events: auto;

  &.highlighted-action {
    background-color: rgb(169, 169, 169);
    border: 3px solid red;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    z-index: 10;
    pointer-events: auto;
  }

  &.available-nut {
    background-color: rgb(169, 169, 169);
    // border: 3px solid red;
    // border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 10;
    pointer-events: auto;
  }
}

/* .hero-action.action1 { top: 17px; left: 88px; } */
.hero-action.action1 {
  top: 3%;
  left: 37%;
}
.hero-action.action2 {
  top: 10.5%;
  left: 61.5%;
}
.hero-action.action3 {
  top: 28%;
  left: 71.5%;
}
.hero-action.action4 {
  top: 45%;
  left: 61.5%;
}
.hero-action.action5 {
  top: 52.5%;
  left: 37%;
}
.hero-action.action6 {
  top: 45%;
  left: 12%;
}
.hero-action.action7 {
  top: 27.5%;
  left: 2.5%;
}
.hero-action.action8 {
  top: 10.5%;
  left: 12.5%;
}
